<app-section-wrapper [addPadding]="!!calculationParams.quantity">
  <app-heading heading="Туалеты"></app-heading>
  <div class="video__block">
    <div class="count__visitors">
      <div class="elem__audition elem__audition--no_margin">
        <p>Количество участников</p>
        <div class="range-slider">
          <ng5-slider
            [(value)]="calculationParams.quantity"
            [options]="options"
            (userChange)="changeRange($event, 'quantity')"
          ></ng5-slider>
        </div>
      </div>

      <div class="elem__audition">
        <p>Продолжительность</p>
        <div class="range-slider">
          <ng5-slider
            [(value)]="calculationParams.time"
            [options]="optionsTime"
            (userChange)="changeRange($event, 'time')"
          ></ng5-slider>
        </div>
      </div>
    </div>

    <div *ngIf="calculationParams.quantity">
      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>
    </div>
    <app-suppliers-link *ngIf="calculationParams.quantity"></app-suppliers-link>
  </div>
  <app-error-block *ngIf="calculationParams.quantity"></app-error-block>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
