<app-section-wrapper [addPadding]="true">
  <div class="overlay__modal"></div>
  <div class="floor__block">
    <app-heading heading="Поставщики" back="prev">
      <a href="#" class="add__more">
        <img src="assets/img/add.png" alt="add" />
      </a>
    </app-heading>
  </div>

  <div class="request__block">
    <div class="sort__button">
      <a href="#">
        Сортировка
      </a>
    </div>

    <div class="request__wrap">
      <div class="elem__request">
        <div class="head__request">
          <p>5</p>
          <div class="scroll__active">
            <img src="assets/img/ovallong.png" alt="ovallong" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
          </div>

          <div class="arrows">
            <a href="#"><img src="assets/img/arrowl.png" alt="arrowl"/></a>
            <span><img src="assets/img/span.png" alt="span"/></span>
            <a href="#"><img src="assets/img/arrowr.png" alt="arrowr"/></a>
          </div>
        </div>

        <div class="content__request">
          <div class="head__req">
            <img src="assets/img/img.png" alt="arrow" />
          </div>
          <div class="req__content">
            <div class="head__req">
              <div class="profile__req">
                <img src="assets/img/logoreq.png" alt="logoreq" />
              </div>
              <div class="text__req">
                <p>Поставщик</p>
                <h6>
                  <img src="assets/img/map.png" alt="map" /> г. Москва, ул.
                  Моховая, дом 92, квартира 290
                </h6>
              </div>
            </div>
            <div class="main__req">
              <p>
                Одно из лучших заведений такого рода в городе. Здесь вы сможете
                отведать самые разные блюда древнерусской кухни.
              </p>
              <div class="req__buttons">
                <a href="#">Заказать звонок</a>
                <a href="#">Отправить запрос</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="elem__request">
        <div class="head__request">
          <p>5</p>
          <div class="scroll__active">
            <img src="assets/img/ovallong.png" alt="ovallong" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
            <img src="assets/img/ovalscroll.png" alt="ovalscroll" />
          </div>

          <div class="arrows">
            <a href="#"><img src="assets/img/arrowl.png" alt="arrowl"/></a>
            <span><img src="assets/img/span.png" alt="span"/></span>
            <a href="#"><img src="assets/img/arrowr.png" alt="arrowr"/></a>
          </div>
        </div>

        <div class="content__request">
          <div class="head__req">
            <img src="assets/img/img.png" alt="arrow" />
          </div>
          <div class="req__content">
            <div class="head__req">
              <div class="profile__req">
                <img src="assets/img/logoreq.png" alt="logoreq" />
              </div>
              <div class="text__req">
                <p>Поставщик</p>
                <h6>
                  <img src="assets/img/map.png" alt="map" /> г. Москва, ул.
                  Моховая, дом 92, квартира 290
                </h6>
              </div>
            </div>
            <div class="main__req">
              <p>
                Одно из лучших заведений такого рода в городе. Здесь вы сможете
                отведать самые разные блюда древнерусской кухни.
              </p>
              <div class="req__buttons">
                <a href="#">Заказать звонок</a>
                <a href="#">Отправить запрос</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sort__modal">
    <div class="top__sort">
      <div class="head__stick">
        <img src="assets/img/uistick.png" alt="uistick" />
      </div>
      <div class="sort__content">
        <h2>Сортировать</h2>
        <ul>
          <li><a href="#">Сначала новые</a></li>
          <li><a href="#">Сначала старые</a></li>
          <li><a href="#">Сначала популярные</a></li>
          <li><a href="#">По алфавиту</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom__sort">
      <a href="#">Отменить</a>
    </div>
  </div>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
