<app-section-wrapper [addPadding]="!!calculationParams.quantity">
  <app-heading heading="Гардероб"></app-heading>
  <div class="garderob__wrap">
    <div class="input__counter">
      <input
        name="quantity"
        type="number"
        placeholder="Количество участников"
        [(ngModel)]="calculationParams.quantity"
        (keyup)="onChange()"
      />
    </div>
    <div *ngIf="calculationParams.quantity">
      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>
    </div>
    <app-suppliers-link *ngIf="calculationParams.quantity"></app-suppliers-link>
  </div>
  <app-error-block *ngIf="calculationParams.quantity"></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
