<app-section-wrapper [addPadding]="true">
  <app-heading heading="Гардероб"></app-heading>
  <div class="garderob__wrap">
    <div class="input__counter">
      <input type="text" placeholder="Количество участников" />
    </div>
    <div class="floor__with--info">
      <div class="elem__info--floor">
        <p>Необходимое количество гардеробщиков</p>
        <span>17</span>
      </div>

      <div class="elem__info--floor">
        <p>Площадь гардероба (плечики)</p>
        <span>26</span>
      </div>
      <div class="elem__info--floor">
        <p>Площадь гардероба (крючки)</p>
        <span>17</span>
      </div>
    </div>
    <div class="choose__customer">
      <a href="#">Выбрать поставщика</a>
    </div>
  </div>
  <app-error-block></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
