<app-section-wrapper [addPadding]="true">
  <div class="language__block">
    <div class="head__language">
      <a routerLink="/settings"
        ><img src="assets/img/leftarr.png" alt="leftarr" /> Назад</a
      >
      <h6>Язык</h6>
    </div>
  </div>

  <div class="language__wrap">
    <div class="language__elem">
      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">Русский</a>
      </div>
      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">English</a>
      </div>
      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">Español</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">漢語</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">German</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">le français</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">Türkçe</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">English</a>
      </div>
      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">Español</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">漢語</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">German</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">le français</a>
      </div>

      <div class="elem__lang">
        <a href="#" (click)="onClick($event)">Türkçe</a>
      </div>
    </div>
  </div>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
