<div class="bottom__menu">
  <div class="inner__bottom">
    <a
      [routerLink]="['/category']"
      routerLinkActive="active__elem__switch"
      class="elem__bottom"
    >
      <span>
        <img src="assets/img/avatar.png" alt="avatar" />
      </span>
      <span>Категории</span>
    </a>
    <a
      [routerLink]="['/settings']"
      routerLinkActive="active__elem__switch"
      class="elem__bottom "
    >
      <span>
        <img src="assets/img/settings.png" alt="avatar" />
      </span>
      <span>Настройки</span>
    </a>
    <a [routerLink]="['/profile']" class="elem__bottom ">
      <span>
        <img src="assets/img/avatara.png" alt="avatar" />
      </span>
      <span>Профиль</span>
    </a>
  </div>
</div>
