<app-section-wrapper [addPadding]="true">
  <app-heading heading="Видео"></app-heading>
  <div class="video__block">
    <div class="count__visitors">
      <input
        name="quantity"
        type="number"
        placeholder="Количество участников"
        [(ngModel)]="calculationParams.quantity"
        (keyup)="onChange()"
      />
    </div>

    <div *ngIf="calculationParams.quantity">
      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>
    </div>
    <div class="choose__customer">
      <a href="#">Выбрать поставщика</a>
    </div>
  </div>
  <app-error-block></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
