<app-section-wrapper [addPadding]="true">
  <app-heading heading="Видео"></app-heading>
  <div class="food__block">
    <div class="count__visitors">
      <input type="text" placeholder="Количество участников" />
    </div>

    <div class="video__block">
      <div class="count__visitors">
        <input type="text" value="100" />
      </div>
      <div class="floor__with--info">
        <div class="elem__info--floor">
          <p>Необходимое количество видео-камер</p>
          <span>2</span>
        </div>
      </div>
      <div class="choose__customer">
        <a href="#">Выбрать поставщика</a>
      </div>
    </div>
  </div>
  <app-error-block></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
