<app-section-wrapper [addPadding]="!!calculationParams.quantity">
  <app-heading heading="Персонал"></app-heading>
  <div class="personal__block">
    <div class="count__visitors">
      <input
        name="quantity"
        type="number"
        placeholder="Количество участников"
        [(ngModel)]="calculationParams.quantity"
        (keyup)="onChange()"
      />
    </div>
    <div *ngIf="calculationParams.quantity" class="floor__with--info">
      <h6>Необходимое количество персонала</h6>

      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>
    </div>
    <app-suppliers-link *ngIf="calculationParams.quantity"></app-suppliers-link>
  </div>
  <app-error-block *ngIf="calculationParams.quantity"></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
