<app-section-wrapper [addPadding]="step === 4">
  <app-heading
    heading="Звук"
    [back]="step !== 1 ? '/sound/' + (step - 1) : ''"
  ></app-heading>
  <div class="sound__block">
    <app-light-progress
      [step]="step"
      [list]="progressList"
    ></app-light-progress>

    <app-sound-step [step]="step" (choose)="onChoose($event)"></app-sound-step>
  </div>
  <div *ngIf="step !== 4" class="bottom__next__button">
    <a [routerLink]="'/sound/' + (step + 1)">{{
      step !== 3 ? 'Далее' : 'Расчитать'
    }}</a>
  </div>
  <app-error-block *ngIf="step === 4"></app-error-block>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
