<app-section-wrapper>
  <app-heading heading="Звук"></app-heading>
  <div class="sound__block">
    <div class="light__progress">
      <div class="progress__head">
        <div class="progress__elem green__elem">
          <div class="progress__bar">
            <img src="assets/img/greenoval.png" alt="greyoval" />
          </div>
          <div class="progress__name">
            <h2>Введите количество человек</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="count__visitors">
      <input type="text" placeholder="Количество участников" />
    </div>
  </div>

  <div class="bottom__next__button ">
    <a href="#">Далее</a>
  </div>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
