<app-section-wrapper [addPadding]="!!calculationParams.quantity">
  <app-heading heading="Еда"></app-heading>
  <div class="food__block">
    <div class="count__visitors">
      <input
        name="quantity"
        type="number"
        placeholder="Количество участников"
        [(ngModel)]="calculationParams.quantity"
        (keyup)="onChange()"
      />
    </div>

    <div *ngIf="calculationParams.quantity">
      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>

      <div class="floor__with--info" style="margin-bottom: 0">
        <h6>Банкет</h6>
      </div>

      <app-results-table
        *ngFor="let item of tablesSecond"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>

      <div class="mrg_top">
        <div class="elem__info--floor ">
          <p>{{ fasting?.label }}</p>
          <span>{{ fasting?.result | number: fasting.format | noComma }}</span>
        </div>
      </div>
    </div>

    <app-suppliers-link *ngIf="calculationParams.quantity"></app-suppliers-link>
  </div>
  <app-error-block *ngIf="calculationParams.quantity"></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
