<app-section-wrapper [addPadding]="true">
  <div class="floor__block">
    <app-heading heading="Настройки"></app-heading>

    <div class="main__settings">
      <div class="settings__top">
        <ul>
          <li>
            <a routerLink="/settings/language">
              <div class="left__sett">
                <img src="assets/img/sett1.png" alt="sett" />
              </div>
              <div class="right__sett">
                <p>Язык</p>
                <span>Русский</span>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/settings/nds">
              <div class="left__sett">
                <img src="assets/img/sett2.png" alt="sett" />
              </div>
              <div class="right__sett">
                <p>НДС</p>
                <span>20%</span>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/settings/metric">
              <div class="left__sett">
                <img src="assets/img/sett3.png" alt="sett" />
              </div>
              <div class="right__sett">
                <p>Метрическая система</p>
                <span>метрическая</span>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/settings/currency">
              <div class="left__sett">
                <img src="assets/img/sett4.png" alt="sett" />
              </div>
              <div class="right__sett">
                <p>Валюта</p>
                <span>Рубль</span>
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/settings/subscribe">
              <div class="left__sett">
                <img src="assets/img/sett5.png" alt="sett" />
              </div>
              <div class="right__sett">
                <p>Подписка на новости</p>
                <span>Оформлена</span>
              </div>
            </a>
          </li>
          <li class="radio__">
            <a>
              <div class="left__sett">
                <img src="assets/img/sett6.png" alt="sett" />
              </div>
              <div class="right__sett">
                <div class="inner__sett">
                  <p>Единые данные расчетов</p>
                  <span>Да</span>
                </div>
                <div class="sett__checkbox">
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="spacer"></div>

      <div class="help__us">
        <h2>Поддержи нас!</h2>
        <p>Рассказать друзья</p>
        <form action="" class="help__form">
          <div class="help__group">
            <input type="text" placeholder="E-mail" />
          </div>
          <div class="help__group">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="help__subm">
            <a href="#">Отправить</a>
            <a href="#"><img src="assets/img/download.png" alt=""/></a>
          </div>
        </form>
      </div>
    </div>

    <div class="after__help__us">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <div class="after__help__buttons">
        <a href="#"
          ><span><img src="assets/img/vk.png" alt="vk"/></span> Отправить в
          Vkontakte
        </a>
        <a href="#"
          ><span><img src="assets/img/fb.png" alt="fb"/></span> Отправить в
          Facebook</a
        >
      </div>
    </div>

    <div class="write__review">
      <h2>Написать обзор</h2>
      <a href="#"
        ><span><img src="assets/img/app.png" alt="fb"/></span> Написать обзор</a
      >
    </div>

    <div class="donation__block">
      <h2>Донатить</h2>
      <p>Для развития сервиса нужны деньги</p>
      <a href="#">Помочь проекту</a>
    </div>
  </div>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
