<app-section-wrapper [addPadding]="true">
  <div class="language__block">
    <div class="head__language">
      <a routerLink="/settings"
        ><img src="assets/img/leftarr.png" alt="leftarr" /> Назад</a
      >
      <h6>Подписка</h6>
    </div>
  </div>

  <div class="news__main">
    <h2>
      <img src="assets/img/accept.png" alt="accept" />Быть в курсе наших
      новостей и новых предложений
    </h2>
  </div>
  <div class="bottom__next__button ">
    <a href="#">Применить</a>
  </div>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
