<app-section-wrapper [addPadding]="true">
  <app-heading heading="Риски"></app-heading>
  <div class="risk__page">
    <div class="budget__input">
      <input
        name="x"
        type="number"
        placeholder="Бюджет"
        [(ngModel)]="params.x"
        (keyup)="calcRisk()"
        min="1"
        step="1"
        required
      />
    </div>
    <div class="budget__chances">
      <div class="elem__audition">
        <p>Вероятность события (1% - 100%)</p>
        <div class="slidecontainer range-slider">
          <ng5-slider
            [(value)]="params.a"
            [options]="options"
            (userChange)="calcRisk()"
          ></ng5-slider>
          <span class="left__slider">{{ params.a }}%</span>
        </div>
      </div>
      <div class="elem__audition">
        <p>Ущерб для мероприятия (1% - 100%)</p>
        <div class="slidecontainer range-slider">
          <ng5-slider
            [(value)]="params.b"
            [options]="options"
            (userChange)="calcRisk()"
          ></ng5-slider>
          <span class="left__slider">{{ params.b }}%</span>
        </div>
      </div>
    </div>

    <div *ngIf="params.x" class="budget__excaption">
      <p>
        Для исключения угрозы разумно инвестировать
        <span>{{ risk | number: '1.0-0' | noComma }} руб.</span>
      </p>
    </div>
  </div>
  <app-error-block *ngIf="params.x"></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
