<app-section-wrapper>
  <div class="head__customer">
    <a routerLink="/suppliers"
      ><img src="assets/img/arrowl.png" alt="arrowl" /> Назад</a
    >
    <div class="customer__profile">
      <img src="assets/img/customer.png" alt="customer" />
    </div>
  </div>
  <div class="customer__of__main">
    <h2>Поставщик</h2>
    <p>
      <img src="assets/img/flag.png" alt="flag" />
      <span>г. Москва, ул. Моховая, дом 92, квартира 290</span>
    </p>
    <div class="tttext">
      <p>
        Одно из лучших заведений такого рода в городе. Здесь вы сможете отведать
        самые разные блюда древнерусской кухни. Одно из лучших заведений такого
        рода в городе. Здесь вы сможете отведать самые разные блюда
        древнерусской кухни.
      </p>
    </div>

    <div class="customer__buttons">
      <a href="#">Заказать звонок</a>
      <a href="#">Отправить запрос</a>
      <a href="#">Следующий <img src="assets/img/arrowr.png" alt="arrowr"/></a>
    </div>
  </div>
</app-section-wrapper>
<app-menu-bottom></app-menu-bottom>
