<app-section-wrapper [addPadding]="form.valid">
  <app-heading heading="Проекция"></app-heading>
  <div class="proection__block">
    <form #form="ngForm" class="proection__inputs" novalidate>
      <div class="proection__elem">
        <p>Высота экрана</p>
        <input
          name="height"
          type="number"
          [(ngModel)]="calculationParams.height"
          (keyup)="onChange(form)"
          required
        />
      </div>

      <div class="proection__elem">
        <p>Ширина экрана</p>
        <input
          name="width"
          type="number"
          [(ngModel)]="calculationParams.width"
          (keyup)="onChange(form)"
          required
        />
      </div>

      <div class="proection__elem">
        <p>Количество человек</p>
        <input
          name="quantity"
          type="number"
          [(ngModel)]="calculationParams.quantity"
          (keyup)="onChange(form)"
          required
        />
      </div>
    </form>

    <div *ngIf="form.valid">
      <app-results-table
        *ngFor="let item of tables"
        [title]="item.title"
        [data]="item.data"
      ></app-results-table>
    </div>

    <app-suppliers-link *ngIf="form.valid"></app-suppliers-link>
  </div>
  <app-error-block *ngIf="form.valid"></app-error-block>
</app-section-wrapper>

<app-menu-bottom></app-menu-bottom>
